
.contact-section{
    min-height: 47vh;
    width: 85%;
    margin: 1% auto;
}
.contact-section__header{
    font-size: 3rem;
    color: var(--head-color);
    position: relative;
}

.contact-section__header::after{
    content: '';
    position: absolute;
    top: 57%;
    margin-left: 33px;
    height: 2.7px;
    width: 300px;
    background-color: var(--btn-color);
}
.contact-wrapper{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    
}

.contact-wrapper a{
    margin: 3%;
}





.single-contact-box{
    width: 300px;
    background-color: #1e1c1cb5;
    min-height: 11vh;
    border-radius: 7px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.single-contact-box::after{
    content: '';
    position: absolute;
    left: -13%;
    background:linear-gradient(
        to right, 
        #1e1c1cb5 4%,
        #201F1F 25%,
        #ffffff 96%
        
      );
    height: 100%;
    transform: skewX(43deg);
    width: 36px;
    opacity: 0;
  
}
.single-contact-box:hover::after{
    opacity: 1;
    animation: shinnerx .4s forwards;
}


.single-contact-box__img{
    margin-left: 3%;
    width: 11%;
}
.single-contace-box__details{
  margin-left: 3%;
}


.Allah{
    font-size: clamp(33px,3vh,70px);
    color: var(--head-color);
}

.Allah span{
    margin: 0px 1%;
    display: inline-block;
    transform: translate(100px,0px) rotate(360deg) scale(.3);
    /* transform: translate(-150px, -50px) rotate(-180deg) scale(11); */
    animation: back 1s ease forwards;

}
.Allah span:nth-child(1){
    animation-delay: .1s;
}
.Allah span:nth-child(2){
    animation-delay: .10s;
}

.Allah span:nth-child(3){
    animation-delay: .20s;
}

.Allah span:nth-child(4){
    animation-delay: .30s;
}

.Allah span:nth-child(5){
    animation-delay: .40s;
}

.Allah span:nth-child(6){
    animation-delay: .50s;
}

.Allah span:nth-child(7){
    animation-delay: .60s;
}
.Allah span:nth-child(8){
    animation-delay: .70s;
}
.Allah span:nth-child(9){
    animation-delay: .80s;
}
.Allah span:nth-child(10){
    animation-delay: .90s;
}
.Allah span:nth-child(11){
    animation-delay: 1s;
}

.Allah span:nth-child(12){
    animation-delay: 1.2s;
}
.Allah span:nth-child(13){
    animation-delay: 1.3s;
}
.Allah span:nth-child(14){
    animation-delay: 1.4s;
}
.Allah span:nth-child(15){
    animation-delay: 1.5s;
}

@keyframes back{
    to{
        transform: translate(0px,0px) rotate(0deg) scale(1)
    }
}




@keyframes shinnerx {
    to{
        left: 107%;
        scale: (2,2.9);
        
    }
}

@media screen and (max-width:700px) {
    .contact-wrapper a{
        margin: 1% auto;
    }
    .contact-section__header::after{
        width: 203px;
    }

}