.hero-container{
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    height: 91vh;
   
}
.hero-wrapper{
    margin-left: 3%;
}
.hero-hello-text{
    font-size: clamp(21px,1.7vw,30px);
    color: var(--head-color);

}
.hero-name-text{
    font-size:clamp(40px, 8vw, 70px);

    font-weight: 700!important;
  


} 

.hero-name-text span{
    
    font-size:clamp(40px, 8vw, 70px)!important;
    font-weight: 700!important;
    color: var(--head-color);
  
}

.decode-text{
    font-size:clamp(40px, 8vw, 70px);

    font-weight: 700!important;
    background:linear-gradient(90deg,#42F40D   ,#0D90F4 ,#0D40F4 , #F40D0D ,#42F40D );
    /* background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%); */
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
     background-position-x: 0px;
    animation:  changeBackSize .5s forwards ,
    textGradient 7s .5s linear infinite;
}
.rotate-span{
    transition: all 1.3s ease;
    transform: rotate(77deg);
    display: inline-block;
    font-size: 4rem!important;
    font-weight: 500!important;
    
}

span.red{

    transform: rotate(0deg);
    font-size:clamp(40px, 8vw, 70px);
    opacity: 1!important;
    display: inline;
    font-weight: 700;
    
   
}

@keyframes changeBackSize{
    0%{
        background-size: 0px;
    }
    100%{
        background-size: 770px;
    }
}

/* @keyframes textGradient{
    30%{
        background:linear-gradient(to left,#42F40D 30% ,#0D90F4 60% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60%{
        background:linear-gradient(to left,#F4290D  ,#0D90F4 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    90%{
        background:linear-gradient(to left,#F4290D  , #0D40F4  );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       
    }
} */

@keyframes textGradient{
  
  70%{
      background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px;
  }

}

.hero-name-rotating__container{
    max-height: max-content;
    width: 100%;
}
.hero-name-rotating{
    
    /* font-size: 23px; */
    color: var(--head-color);

}
.hero-text-swapper{
    height: 4vh;
    overflow: hidden;

}

.hero-text-swapper p{
    font-size: clamp(23px,3vw,23px);
    color: var(--head-color);
    font-weight: 500;
    position: relative;
    animation: rotateWords 13s ease infinite;
}






 @keyframes rotateWords{
    17%{
      
        transform: translateY(0px);
        /* background: linear-gradient(to left,#F7F614 60%,#ffffff 50% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }47%{
        
        transform: translateY(-32px);
    }77%{
       
        transform: translateY(-64px);
     
    }100%{
        
        
  
        
    }
   
}  





.hero-btn{
    margin-top: 5%;
    display: flex;
    align-items: center;
    width: clamp(300px,101vh,70%);
    margin-top: 3%;
}
.hero-btn button{
    background-color: var(--back-color);
    color: var(--head-color);
    outline: none;
    padding: 2.5%;
    font-size: 2rem;
    border: 3px solid var(--btn-color) ;
    margin: 1% 0%;
    border-radius: 7px;
    
}

.hero-btn button a:hover{
    color: var(--btn-color);
    transition: all .3s ease; 

}