.hero-container{
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    height: 91vh;
   
}
.hero-wrapper{
    margin-left: 3%;
}
.hero-hello-text{
    font-size: clamp(21px,1.7vw,30px);
    color: var(--head-color);

}
.hero-name-text{
    /* font-size:clamp(40px, 8vw, 70px); */
    color: var(--head-color);

    width: 103%;

} 

.hero-name-text span{
    /* transition: all 1.3s ease; */
    font-size:clamp(40px, 8vw, 70px)!important;
    font-weight: 700!important;
    
}


.rotate-span{
    transition: all 1.3s ease;
    transform: rotate(77deg);
    display: inline-block;
    font-size: 4rem!important;
    font-weight: 500!important;
    
}

span.red{

    transform: rotate(0deg);
    font-size:clamp(40px, 8vw, 70px);
    opacity: 1!important;
    display: inline;
    font-weight: 700;
    
   
}

@keyframes textColor{
    to{
        color: green;
    }
}

.hero-name-rotating__container{
    max-height: max-content;
    width: 100%;
}
.hero-name-rotating{
    
    /* font-size: 23px; */
    color: var(--head-color);

}
.hero-text-swapper{
    height: 4vh;
    overflow: hidden;

}

.hero-text-swapper p{
    font-size: clamp(23px,3vw,23px);
    color: var(--head-color);
    font-weight: 500;
    position: relative;
    animation: rotateWords 13s ease infinite;
}






 @keyframes rotateWords{
    17%{
      
        transform: translateY(0px);
        /* background: linear-gradient(to left,#F7F614 60%,#ffffff 50% );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }47%{
        
        transform: translateY(-32px);
    }77%{
       
        transform: translateY(-64px);
     
    }100%{
        
        
  
        
    }
   
}  





.hero-btn{
    margin-top: 5%;
    display: flex;
    align-items: center;
    width: clamp(300px,101vh,70%);
    margin-top: 3%;
}
.hero-btn button{
    background-color: var(--back-color);
    color: var(--head-color);
    outline: none;
    padding: 2.5%;
    font-size: 2rem;
    border: 3px solid var(--btn-color) ;
    margin: 1% 0%;
    border-radius: 7px;
    
}

.hero-btn button a:hover{
    color: var(--btn-color);
    transition: all .3s ease; 

}