.layout{
    background-color: var(--back-color);
    min-height: 500vh;
    position: relative;
}
.left-floating {
    color: var(--text-color);
    position: fixed;
    left: 0;
    top: 5%;
    font-size: 2rem;
    height: 91vh;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-floating{
    color: var(--head-color);
    position: fixed;
    right: 0;
    top: 6.3%;
    font-size: 2rem;
    height: 91vh;
    width: 100px;
 
}
.right-floating__text{
    position: absolute;
    top: 59%;
    transform: rotate(270deg);
    width: 100%;
    height:max-content;

}
.right-floating__text p{
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    letter-spacing: 1px;
   
    
}
.right-floating__text::after{
    content: '';
    position: absolute;
    right: 20px;
    width: 2px;
    transform: rotate(270deg);
    background-color: rgb(0, 140, 255);
    bottom: -82px;
    left: -114px;
    height: 186px;
}

.left-floating__icon{

    width: 20px;
    position: absolute;
    top: 63%;
    min-height: 13vh;
}
.Allahisalmighty{
    transform: rotate(270deg);
    margin-top: 390%;
    font-size: 2rem;
    font-weight: 700;
    color: var(--head-color);
    position: relative;
    overflow: hidden;
}
.Allahisalmighty::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--back-color);
    animation: revealer .7s linear forwards;
}

@keyframes revealer{
    to{
        left: 100%;
    }
}


.left-floating__icon::after{
    content: '';
    position: absolute;
    background-color: rgb(0, 140, 255);
    width: 3px;
    height: 150px;
    top: 110%;
    right: 50%;
    
}

@media screen and (max-width:700px) {
    .left-floating ,.right-floating{
        display: none;
    }
    /* .layout{
        overflow-x: hidden;
    } */
}